.people .label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.people .error {
  font-weight: 700;
  color: var(--red);
  letter-spacing: 1px;
  font-size: 0.9rem;
  width: fit-content;
  user-select: none;
}
